<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342852406253-anpm7rqklgncp9na71tb81f8u9ih2gjv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342852406253-anpm7rqklgncp9na71tb81f8u9ih2gjv</string>
	<key>API_KEY</key>
	<string>AIzaSyAGniRZ-D4iB_ExmmwRJWa3S9y9SrQDAFc</string>
	<key>GCM_SENDER_ID</key>
	<string>342852406253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.xixihahademodemo</string>
	<key>PROJECT_ID</key>
	<string>my-test-project-b7207</string>
	<key>STORAGE_BUCKET</key>
	<string>my-test-project-b7207.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342852406253:ios:2e5e525ea2b4954eadb5e4</string>
	<key>DATABASE_URL</key>
	<string>https://my-test-project-b7207.firebaseio.com</string>
</dict>
</plist>